.profile-container {
  width: 340px;
  background: #EEFFEE;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box; 
}

.profile-form {
  padding: 20px;
  padding-bottom: 0;
}

.update-instruction {
  font-size: 12px;
  color: #323C32;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  color: #323C32;
  margin-bottom: 5px;
  font-weight: bold; 
}


.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #000; 
  border-radius: 20px; 
  box-sizing: border-box;
}

.form-actions {
  text-align: center;
  padding-top: 20px;
}

.form-actions {
  background-color: #004225;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0 -20px;
  border-radius: 0 0 10px 10px;
}

.update-btn {
  padding: 10px 20px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-btn:hover {
  background-color: #323C32;
}